# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\WIN10\Desktop\FEI\4.semeter\PROG2\Cvicenie4\PROG2-Priklady-4.tyzden\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
